body{
    background: linear-gradient(90deg, #39289F, #422F9C);
    color:#fff !important;
}
.accordion-button{
    background-color: #212529 !important;
    color: #fff !important;

}

.cursor-pointer{
    cursor: pointer;
}

/* some styling for pagination*/
.paginationBttns {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center; 
}


.paginationBttns a {
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: solid 1px #212529;
    color: #fff;
}

.paginationBttns a:hover {
    background: #212529;
    color: #fff !important;
}

.paginationActive a {
    background: #093f65;
    color: #fff !important;
}
